.register-page {
  padding: 70px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.register-page__content {
  width: 81%;
  max-width: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-page__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 380px;
  margin-bottom: 16px;
  width: 100%;
}

.register-page__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.register-page__button-container {
  width: 100%;
}

.register-page__error {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #FF4062;
  width:100%;
  text-align: center;
}

@media screen and (max-width: 780px) {
  .register-page {
    padding: 232px 0;
  }
}

@media screen and (max-width: 430px) {
  .register-page__form {
    margin-bottom: 14px;
    min-height: 468px;

  }

  .register-page__error {
    font-size: 14px;  
    line-height: 16px;
  }

  .register-page {
    padding: 56px 0 30px;
  }
}