.partfolio-link {
  width: 100%;
}

.partfolio-link:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.partfolio-link__link {
  padding: 0 0 19px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
  text-decoration: none;
  color: #000;
}

.partfolio-link__work-name {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  margin: 0;
}

.partfolio-link__arrow-image {
  width: 18px;
  height: 17px;
}

@media screen and (max-width: 780px) {
  .partfolio-link__work-name {
    font-size: 28px;
  }
}

@media screen and (max-width: 430px) {
  .partfolio-link__work-name {
    font-size: 18px;
    line-height: 28px;
  }

  .partfolio-link__arrow-image {
    width: 14px;
    height: 13px;
  }
}