.profile-page {
  width: 100%;
  padding: 74px 0 70px;
  display:flex;
  justify-content:center;
}

.profile-page__content {
  display:flex;
  flex-direction:column;
  align-items:center;
  width: 89%;
  max-width: 1140px;
}

.profile-page__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 123px;
}

.profile-page__form {
  width: 100%;
  max-width: 410px; 
}

.profile-page__values {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 0 0 220px;
  width: 100%;
}

.profile-page__value-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  padding: 0 0 16px;
  margin-bottom: 16px;
  position: relative;
}

.profile-page__input-error {
  position:absolute;
  bottom: 0;
  right: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color:#FF4062;
  max-width: 100%;
  height: 12px;
  text-align:end;
  overflow-x: hidden;
  overflow-y: auto;
}
.profile-page__value-container:last-child {
  border-bottom: none;
}

.profile-page__var {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin-right: 10px;
}

.profile-page__value {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  border: none;
  outline: none;
  width: 100%;
  padding: 0;
  text-align: end;
}

.profile-page__buttons {
  display: flex;
  flex-direction:column;
  align-items:center;

}

.profile-page__button {
  outline:none;
  border:none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  font-weight: 400px;
}

.profile-page__button:hover {
  cursor: pointer;
}

.profile-page__button_edit {
  margin: 0 0 16px;
} 

.profile-page__button_signout {
  color:#FF4062;
  font-weight: 500;
}

@media screen and (max-width: 780px) {
  .profile-page {
    padding: 236px 0 269px;
  }
  .profile-page__title {
    margin: 0 0 96px;
  }
  .profile-page__values {
    margin: 0 0 210px;
  }
}

@media screen and (max-width: 430px) {
  .profile-page {
    padding: 70px 0 40px;
  }
  .profile-page__content {
    width: 81%;
  }
  .profile-page__title {
    margin: 0 0 80px;
  }
  .profile-page__values {
    margin: 0 0 379px;
  }
}