.movies-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-page__get-movies-error {
  color:#FF4062;
  width: 80%;
  font-size: 40px;
  text-align: center;
}