.techs {
  background-color: #F5F5F5;
  display:flex;
  justify-content: center;
  width: 100%;
  padding: 100px 0 100px;
}

.techs__content {
  max-width: 1140px;
  width: 89%
}

.techs__about {
  margin-top: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.techs__text-title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0 0 26px;
  text-align: center;
}

.techs__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 100px;
  max-width: 480px;
}

.techs__techs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.techs__list-element {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 10px; */
  background: #E8E8E8;
  border-radius: 10px;
  height: 60px;
  width: 90px;
}

.techs__list-element:last-child {
  /* margin-right: 0; */
}

@media screen and (max-width: 780px) {
  .techs {
    padding: 90px 0 90px;
  }
  
  .techs__content {
    width: 92%
  }
  
  .techs__about {
    margin-top: 80px;
  }
  
  .techs__text-title {
    margin: 0 0 22px;
  }
  
  .techs__text {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 83px;
    max-width: 460px;
  }

  .techs__techs-list {
    
  grid-template-columns: repeat(auto-fit, 84px);
  }
  
  .techs__list-element {
    font-size: 12px;
    line-height: 15px;
    height: 57px;
    width: 84px;
  }
}

@media screen and (max-width: 430px) {
  .techs {
    padding: 70px 0 70px;
  }
  
  .techs__content {
    width: 91%
  }
  
  .techs__about {
    margin-top: 60px;
  }
  
  .techs__text-title {
    margin: 0 0 24px;
    font-size: 30px;
    line-height: 36px;
  }
  
  .techs__text {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 50px;
    max-width: 292px;
  }

  .techs__techs-list {
    max-width: 270px;
  }

  .techs__list-element {
    font-size: 12px;
    line-height: 15px;
  }
}