.slide-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  transition: background-color linear 0.3s;
}

.slide-menu_opened {
  background-color: rgba(0, 0, 0, 0.3);
}

.slide-menu__container {
  background:#FFFFFF;
  width: 1%;
  position: relative;
  padding: 159px 0 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: linear 0.3s width;
}

.slide-menu__container_opened {
  width: 67%;
}

.slide-menu__close-button {
  position: absolute;
  background-image: url(../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 22px;
  width: 22px;
  top: 29px;
  right: 29px;
  background-size: 22px 22px;
  transition: opacity 0.3s linear;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

.slide-menu__close-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.slide-menu__content {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
  justify-items: center;
}

.slide-menu__navigation {

}

.slide-menu__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .slide-menu__container {
    padding: 144px 0 46px;
  }

  .slide-menu__container_opened {
    width: 100%;
  }

  .slide-menu__close-button {
    top: 20px;
    right: 20px;
  }
}